<div (click)="V6taYhendust('514123455')">Kristiine keskus</div>
<div (click)="V6taYhendust('514123455')">Helsinki keskus</div>
<div (click)="V6taYhendust('514123455')">Sfawrda keskus</div>
<div (click)="V6taYhendust('514123455')">Tasku keskus</div>
<div (click)="V6taYhendust('514123455')">Ülemiste keskus</div>
<div (click)="V6taYhendust('514123455')">Ffquas keskus</div>
<div (click)="V6taYhendust('514123455')">Rocca keskus</div>

<div *ngFor="let keskuseNimi of keskused ">{{keskuseNimi}} keskus</div>

<br><br>

<div *ngIf="v2ljakuvatavKontakt !== ''">Nende kontakt on: {{ v2ljakuvatavKontakt }}</div>